# Dependencies
node_modules/
.npm/

# Build
dist/
build/

# Testing
coverage/

# Env
.env
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log* 

# Other
simple-focus-chromeExt.code-workspace
AppSubmission/